<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    {% block meta %}
    <meta name="description" content=".">    <title>CSS City</title>  
    <link rel="icon" type="image/png" href="../chfaviconcrop.png">
    {% endblock %}
    


{% block stylesheets %}
{% endblock %}


<style>

body {
	touch-action: none;
}

.input {
	position: absolute;
	left: 0px;
	top: 50px;
	display: inline-block;
	height: 500px;
	width: 800px;
	
}
.output {
	position: absolute;
	left: 0px;
	top: 50px;
	display: inline-block;
	height: 2000px;
	width: 3200px;
	pointer-events: none;
	transform-origin: 0 0;
    transform: scale(0.25,0.25);
}
#finalOutput {
	position: absolute;
	left: 0px;
	top: 50px;
	width: 3200px;
	border: 1px solid black;
	transform-origin: 0 0;
    transform: scale(0.25,0.25);
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}
#finalOutput > div {

}



</style>
</head>
<body>

<div id="input" class="input">
	<svg class="ruled" width="800px" height="500px" viewBox="0 0 400 250" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		
		{% for i in range(0,5) %}
			<path d="M0 {{ i*50 + 30 }} L 400 {{ i*50 + 30 }}" fill="none" stroke="blue" stroke-width="1" />
			<path d="M0 {{ i*50 + 20 }} L 400 {{ i*50 + 20 }}" fill="none" stroke="gray" stroke-width="1" stroke-dasharray="1 1" />
			<path d="M0 {{ i*50 + 10 }} L 400 {{ i*50 + 10 }}" fill="none" stroke="gray" stroke-width="1" stroke-dasharray="1 1" />
			<path d="M0 {{ i*50 + 40 }} L 400 {{ i*50 + 40 }}" fill="none" stroke="gray" stroke-width="1" stroke-dasharray="1 1" />
			<path d="M0 {{ i*50 + 5 }} L 400 {{ i*50 + 5 }} 400 {{ i*50 + 45 }} 0 {{ i*50 + 45 }}Z" fill="none" stroke="black" stroke-width="1" />
		{% endfor %}
		
	</svg>
</div>

<canvas id="output" class="output" width="3200px" height="2000px">
		
</canvas>

<div id="finalOutput" class="finalOutput">

</div>


<div class="tools">
	<button onclick="editMode();">Edit</button>
	<button onclick="swapMode();">Mode</button>
	<button onclick="grabWords();">Group</button>
	<button onclick="boldButton();">Bold</button>
	<button onclick="italicsButton();">Italics</button>
	<button onclick="underlineButton();">Underline</button>
	<button onclick="colorButton();">Color</button>
	<input type="text" id="colorName"></input>
	<button onclick="linkButton();">Link</button>
	<input type="text" id="linkURL"></input>
	<!--<button onclick="downloadImage();">Download</button>-->
</div>
<script src="../js/blog.js"></script>
<script>

var ws = new WebSocket('wss://sudoubleku.com:8081');
ws.onopen = function(evt) {
	//var jsonmessage = {'type':'key'};
	//jsonmessage.message = tkey;
	//ws.send(JSON.stringify(jsonmessage));
}
ws.onmessage = function(evt){
	var dm = JSON.parse(evt.data);
	console.log(dm);
}


var inputEl = document.getElementById("input");
inputEl.addEventListener('pointerdown',inputDown);
inputEl.addEventListener('pointermove',inputMove);
inputEl.addEventListener('pointercancel',inputCancel);
inputEl.addEventListener('pointerup',inputUp);
var outputEl = document.getElementById("output");
outputEl.addEventListener('pointerup',editUp);
var canvasEl = document.getElementById("output");
var ctx = canvasEl.getContext("2d");

var strokes = [];
var isDown = false;
var isEdit = false;
var currentStroke = [];
function inputDown(evt) {
	if (isEdit){
		return;
	}
	isDown = true;
	var bcr = evt.currentTarget.getBoundingClientRect();
	var x = evt.clientX-bcr.left;
	var y = evt.clientY-bcr.top;
	currentStroke.push({'x':x*4,'y':y*4});
}
function inputMove(evt) {
	if (isDown){
		var bcr = evt.currentTarget.getBoundingClientRect();
		var x = evt.clientX-bcr.left;
		var y = evt.clientY-bcr.top;
		currentStroke.push({'x':x*4,'y':y*4});
	}
}
function inputUp(evt) {
	if (isDown){
		var bcr = evt.currentTarget.getBoundingClientRect();
		var x = evt.clientX-bcr.left;
		var y = evt.clientY-bcr.top;
		currentStroke.push({'x':x*4,'y':y*4});
	}
	strokes.push(currentStroke);
	addStroke(currentStroke,'black');
	isDown = false;
	currentStroke = [];
}
function inputCancel(evt) {
	isDown = false;
	currentStroke = [];
}


function addStroke(stroke,color) {
	ctx.strokeStyle = color;
	if (stroke.length < 1){
		return;
	}
	else if (stroke.length < 2){
		ctx.fillRect(stroke[0].x-7,stroke[0].y-7,14,14);
		return;
	}
	ctx.lineWidth = 15;
	ctx.beginPath();
	ctx.moveTo(stroke[0].x,stroke[0].y);
	for (var i=1;i<stroke.length;i++){
		ctx.lineTo(stroke[i].x,stroke[i].y);
	}
	ctx.stroke();
	
}

function grabWords(){
	divideWords(strokes);
}
function downloadImage() {
	var dataURL = canvasEl.toDataURL('image/jpg');
	var imgEl = document.getElementById('imgOutput');
	imgEl.src = dataURL;
	//ws.send(dataURL);
	var jsonmessage = {"type":"image",'image':dataURL,'strokes':strokes};
	ws.send(JSON.stringify(jsonmessage));
}
function swapMode() {
	var el = document.getElementById("input");
	if (el.style.display != "none"){
		el.style.display = "none";
		var el2 = document.getElementById("output");
		var el3 = document.getElementById("finalOutput");
		el2.style.display = "none";
		el3.style.display = "flex";
	}
	else {
		el.style.display = "inline-block";
		var el2 = document.getElementById("output");
		var el3 = document.getElementById("finalOutput");
		el2.style.display = "inline-block";
		el3.style.display = "none";
	}
}
</script>
</body>
</html>

