<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    {% block meta %}
    <meta name="description" content=".">    <title>CSS City</title>  
    <link rel="icon" type="image/png" href="../chfaviconcrop.png">
    {% endblock %}
    


{% block stylesheets %}
{% endblock %}


<style>

body {
	touch-action: none;
}

.input {
	position: absolute;
	left: 0px;
	top: 80px;
	display: inline-block;
	width: 100%;
	
}
.output {
	position: absolute;
	left: 0px;
	top: 80px;
	display: inline-block;
	width: 100%;
	pointer-events: none;
}
#finalOutput {
	position: absolute;
	left: 0px;
	top: 80px;
	width: 100%;
	border: 1px solid black;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}
#finalOutput > p > div, #finalOutput > div  {
	position: relative;
	top: 0px;
	vertical-align: text-bottom;
}
.ruled {
	width: 100%;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.newButtons {
	position: absolute;
	left: 0px;
}
.listButtons {
	position: absolute;
	left: 0px;
}

</style>
</head>
<body>

<div id="input" class="input" style="height: 500px;">
	{% for i in range(0,5) %}
		<div id="line-{{ i }}" class="newButtons" style="top: {{ 100*i + 90 }}px; display: none;">
			<button onclick="addLine({{ i }})">+</button><button onclick="addParagraph({{ i }})">P</button><button onclick="removeLine({{ i }})">-</button><button onclick="removeParagraph({{ i }})">-P</button>
		</div>
	{% endfor %}
	{% for i in range(0,5) %}
		<div id="line-{{ i }}" class="listButtons" style="top: {{ 100*i + 90 }}px; display: none;">
			<button onclick="rightList({{ i }})">-></button><button onclick="leftList({{ i }})"><-</button><button onclick="continueList({{ i }})">/</button>
		</div>
	{% endfor %}
	<svg class="ruled" preserveAspectRatio="none" height="500px" viewBox="0 0 400 250" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		
		{% for i in range(0,5) %}
			<path d="M0 {{ i*50 + 30 }} L 400 {{ i*50 + 30 }}" fill="none" stroke="blue" stroke-width="1" />
			<path d="M0 {{ i*50 + 20 }} L 400 {{ i*50 + 20 }}" fill="none" stroke="gray" stroke-width="1" stroke-dasharray="1 1" />
			<path d="M0 {{ i*50 + 10 }} L 400 {{ i*50 + 10 }}" fill="none" stroke="gray" stroke-width="1" stroke-dasharray="1 1" />
			<path d="M0 {{ i*50 + 40 }} L 400 {{ i*50 + 40 }}" fill="none" stroke="gray" stroke-width="1" stroke-dasharray="1 1" />
			<path d="M0 {{ i*50 + 5 }} L 400 {{ i*50 + 5 }} 400 {{ i*50 + 45 }} 0 {{ i*50 + 45 }}Z" fill="none" stroke="black" stroke-width="1" />
		{% endfor %}
		
	</svg>
</div>

<svg id="output" class="output" preserveAspectRatio="none" height="500px" viewBox="0 0 800 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		
</svg>

<div id="finalOutput" class="finalOutput">

</div>


<div class="tools">
	<button onclick="grabWords();">Group</button>
	<button onclick="swapMode();">Mode</button>
	<button onclick="save();">Save</button>
	<button onclick="load();">Load</button>
	<button onclick="showNewButtons();">ShowNew</button>
	<button onclick="showListButtons();">ShowList</button>
	<button onclick="editMode();">Edit</button>
	<button onclick="quoteButton();">Quote</button>
	<button onclick="boldButton();">Bold</button>
	<button onclick="italicsButton();">Italics</button>
	<button onclick="underlineButton();">Underline</button>
	<button onclick="colorButton();">Color</button>
	<input type="text" id="colorName"></input>
	<button onclick="linkButton();">Link</button>
	<input type="text" id="linkURL"></input>
	<button onclick="sizeButton();">Size</button>
	<input type="text" id="fontSize"></input>
	<span id="strLength"></span>
	<!--<button onclick="downloadImage();">Download</button>-->
</div>
<script src="../js/blog.js"></script>
<script>

var ws = new WebSocket('wss://sudoubleku.com:8081');
ws.onopen = function(evt) {
	//var jsonmessage = {'type':'key'};
	//jsonmessage.message = tkey;
	//ws.send(JSON.stringify(jsonmessage));
}
ws.onmessage = function(evt){
	var dm = JSON.parse(evt.data);
	if (dm.type == "load"){
		wordsHashed = dm.wordsHashed;
		strokes = dm.strokes;
		displaySettings = dm.displaySettings;
		for (var i=0;i<strokes.length;i++){
			addStroke(strokes[i],i,"black");
		}
		divideWords(strokes);
		makeQuotes(displaySettings.quotes);
	}
}


var inputEl = document.getElementById("input");
inputEl.addEventListener('pointerdown',inputDown);
inputEl.addEventListener('pointermove',inputMove);
inputEl.addEventListener('pointercancel',inputCancel);
inputEl.addEventListener('pointerup',inputUp);
var outputEl = document.getElementById("output");
outputEl.addEventListener('pointerup',editUp);


var strokes = [];
var isDown = false;
var isEdit = false;
var currentStroke = [];
var maxHeight = 500;
function inputDown(evt) {
	if (isEdit){
		return;
	}
	isDown = true;
	var bcr = evt.currentTarget.getBoundingClientRect();
	var x = Math.round((evt.clientX-bcr.left)*1000)/1000;
	var y = Math.round((evt.clientY-bcr.top)*1000)/1000;
	currentStroke.push({'x':x,'y':y});
}
function inputMove(evt) {
	if (isDown){
		var bcr = evt.currentTarget.getBoundingClientRect();
		var x = Math.round((evt.clientX-bcr.left)*1000)/1000;
		var y = Math.round((evt.clientY-bcr.top)*1000)/1000;
		currentStroke.push({'x':x,'y':y});
	}
	var isGood = false;
	for (var i=0;i<currentStroke.length;i++){
		if (currentStroke[i].y%100 >= 20 && currentStroke[i].y%100 <= 80){
			isGood = true;
			break;
		}
	}
	if (isGood){
		addStroke(currentStroke,strokes.length,'black');
	}
}
function inputUp(evt) {
	if (isDown){
		var bcr = evt.currentTarget.getBoundingClientRect();
		var x = Math.round((evt.clientX-bcr.left)*1000)/1000;
		var y = Math.round((evt.clientY-bcr.top)*1000)/1000;
		currentStroke.push({'x':x,'y':y});
	}
	var isGood = false;
	for (var i=0;i<currentStroke.length;i++){
		if (currentStroke[i].y%100 >= 20 && currentStroke[i].y%100 <= 80){
			isGood = true;
			break;
		}
	}
	if (isGood){
		currentStroke = simplifyStroke(currentStroke);
		strokes.push(currentStroke);
		addStroke(currentStroke,strokes.length-1,'black');
	}
	isDown = false;
	currentStroke = [];
}
function inputCancel(evt) {
	isDown = false;
	currentStroke = [];
}


function addStroke(stroke,idx,color) {
	var path = document.getElementById('stroke-'+idx);
	var newPath = true;
	if (path){
		newPath = false;
		if (!stroke){
			path.parentNode.removeChild(path);
			return;
		}
	}
	else {
		if (!stroke){
			return;
		}
		path = document.createElementNS("http://www.w3.org/2000/svg", "path");
	}
	
	var xMul = 800/outputEl.getBoundingClientRect().width;
	
	var pd = "M";
	if (stroke.length < 1){
		return;
	}
	else if (stroke.length < 2){
		pd += (stroke[0].x*xMul-2)+" "+(stroke[0].y-2);
		pd += " "+(stroke[0].x*xMul-2)+" "+(stroke[0].y+2);
		pd += " "+(stroke[0].x*xMul+2)+" "+(stroke[0].y+2);
		pd += " "+(stroke[0].x*xMul+2)+" "+(stroke[0].y-2);
		pd += "Z";
	}
	else {
		pd += stroke[0].x*xMul+" "+stroke[0].y;
		for (var i=1;i<stroke.length;i++){
			pd += " "+stroke[i].x*xMul+" "+stroke[i].y;
		}
		if (stroke[0].y > maxHeight - 200){
			addVertical();
		}
	}


	
	path.setAttributeNS(null,"d",pd);
	if (newPath){
		path.setAttributeNS(null,"id","stroke-"+idx);
		path.setAttributeNS(null,"stroke",color);
		path.setAttributeNS(null,"stroke-width","4");
		path.setAttributeNS(null,"fill","none");
		outputEl.appendChild(path);
	}
	
}
function addBorder(stroke,idx,nidx,color) {
	var path = document.getElementById('border-'+idx);
	var newPath = true;
	if (path){
		newPath = false;
		if (!stroke){
			path.parentNode.removeChild(path);
			return;
		}
	}
	else {
		if (!stroke){
			return;
		}
		path = document.createElementNS("http://www.w3.org/2000/svg", "path");
	}

	
	var pd = "M";
	if (stroke.length < 1){
		return;
	}
	else if (stroke.length < 2){
		pd += (stroke[0].x-2)+" "+(stroke[0].y-2);
		pd += " "+(stroke[0].x-2)+" "+(stroke[0].y+2);
		pd += " "+(stroke[0].x+2)+" "+(stroke[0].y+2);
		pd += " "+(stroke[0].x+2)+" "+(stroke[0].y-2);
		pd += "Z";
	}
	else {
		pd += stroke[0].x+" "+stroke[0].y;
		for (var i=1;i<stroke.length;i++){
			pd += " "+stroke[i].x+" "+stroke[i].y;
		}
	}


	
	path.setAttributeNS(null,"d",pd);
	if (newPath){
		path.setAttributeNS(null,"id","border-"+idx);
		path.setAttributeNS(null,"stroke",color);
		path.setAttributeNS(null,"stroke-width","2");
		path.setAttributeNS(null,"fill","none");
		outputEl.appendChild(path);
	}
	else {
		path.setAttributeNS(null,"id","border-"+nidx);
		path.setAttributeNS(null,"stroke",color);
	}
	
}

function grabWords(){
	divideWords(strokes);
}
function downloadImage() {
	var dataURL = canvasEl.toDataURL('image/jpg');
	var imgEl = document.getElementById('imgOutput');
	imgEl.src = dataURL;
	//ws.send(dataURL);
	var jsonmessage = {"type":"image",'image':dataURL,'strokes':strokes};
	ws.send(JSON.stringify(jsonmessage));
}
function swapMode() {
	var el = document.getElementById("input");
	if (el.style.display != "none"){
		el.style.display = "none";
		var el2 = document.getElementById("output");
		var el3 = document.getElementById("finalOutput");
		el2.style.display = "none";
		el3.style.display = "block";
		var len = el3.outerHTML.length;
		document.getElementById("strLength").innerHTML = len;
	}
	else {
		el.style.display = "inline-block";
		var el2 = document.getElementById("output");
		var el3 = document.getElementById("finalOutput");
		el2.style.display = "inline-block";
		el3.style.display = "none";
	}
}
function showNewButtons() {
	var els = document.querySelectorAll(".newButtons");
	for (var i=0;i<els.length;i++){
		if (els[i].style.display != "block"){
			els[i].style.display = "block";
		}
		else {
			els[i].style.display = "none";
		}
	}
}
function showListButtons() {
	var els = document.querySelectorAll(".listButtons");
	for (var i=0;i<els.length;i++){
		if (els[i].style.display != "block"){
			els[i].style.display = "block";
		}
		else {
			els[i].style.display = "none";
		}
	}
}
function addVertical() {
	console.log("adding line");
	maxHeight += 100;
	inputEl.style.height = maxHeight+"px";
	var svgOut = document.querySelector("svg.output");
	svgOut.setAttributeNS(null,'height',maxHeight+"px");
	svgOut.setAttributeNS(null,'viewBox','0 0 800 '+(maxHeight));
	var svg = document.querySelector("svg.ruled");
	svg.setAttributeNS(null,'height',maxHeight+"px");
	svg.setAttributeNS(null,'viewBox','0 0 400 '+(maxHeight/2));
	
	var ii = (maxHeight-100)/2;
	for (var i=10;i<50;i+=10) {
		var path = document.createElementNS("http://www.w3.org/2000/svg", "path");
		var pd = "M0 "+(ii + i)+" L400 "+(ii + i);
		path.setAttributeNS(null,'d',pd);
		path.setAttributeNS(null,'fill',"none");
		if (i == 30){path.setAttributeNS(null,'stroke',"blue");}
		else {path.setAttributeNS(null,'stroke',"gray"); path.setAttributeNS(null,'stroke-dasharray',"1 1");}
		path.setAttributeNS(null,'stroke-width',"1");
		svg.appendChild(path);
	}
	var path = document.createElementNS("http://www.w3.org/2000/svg", "path");
	var pd = "M0 "+(ii + 5)+" L400 "+(ii + 5)+" 400 "+(ii + 45)+" 0 "+(ii + 45)+"Z";
	path.setAttributeNS(null,'d',pd);
	path.setAttributeNS(null,'fill',"none");
	path.setAttributeNS(null,'stroke-width',"1");
	path.setAttributeNS(null,'stroke',"black");
	svg.appendChild(path);
	//TODO: add para and list buttons
}
</script>
</body>
</html>

