<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    {% block meta %}
    <meta name="description" content=".">    <title>CSS City</title>  
    <link rel="icon" type="image/png" href="../chfaviconcrop.png">
    {% endblock %}
    


{% block stylesheets %}
{% endblock %}


<style>



</style>
</head>
<body>

<div class="input">
	Hello World
</div>

	<canvas class="output" width="300px" height="300px">
		
	</canvas>
<div class="o2" >
	
</div>
<div class="tools">
	<select>
		<option value="heart">Heart</option>
		<option value="cloud">Cloud</option>
		<option value="cloud">Animal</option>
		<option value="cloud">Star</option>
	</select>
	<input type="radio" >Monochrome</input>
	<input type="radio" >Opacity</input>
	<button onclick="heart();">Heart</button>
	<button onclick="selectGroup();">Group</button>
	<button onclick="downloadImage();">Download</button>
	<a id="downloadLink" download="a.png" href="">Download</a>
</div>
<script>


</script>
</body>
</html>

