<!doctype html>
<html>
<head>
<title>DTZFun</title>
<style>
.game {
	margin: auto;
	width: 60vw;
	height: 60vh;
	left: 20vw;
	top: 20vh;
	position: absolute;
	border: 1px solid black;
}
#borderSVG {
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	position: absolute;
}

</style>

</head>
<body>

<div class="game">
	<svg id="borderSVG" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<path d="M0,0 0,100 100,100 100,0Z" fill="none" stroke="red" stroke-width="1" />
		<circle id="ball-0" cx="50" cy="50" r="3" fill="#CCF" stroke="black" stroke-width="0.5" />
	</svg>
</div>

<script>
walls = [];
balls = [{id:"ball-0",x:50,y:50,a:45,el:document.getElementById("ball-0")}];

let start;

function move(timestamp) {
	if (start === undefined){start = timestamp;}
	const elapsed = timestamp - start;
	balls[0].el.setAttribute("cx",50+elapsed/40);
	
	if (elapsed < 2000) {
		window.requestAnimationFrame(move);
	}
}

window.requestAnimationFrame(move);
</script>
</body>
</html>