<!doctype html>
<html>
<head>
<title>Landing Page</title>
<style>

.g {
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	grid-template-columns: 1fr auto 1fr;
	width: 100vw;
	height: 100vh;
	position: absolute;
}

.main {
	border: 2px solid black;
	border-radius: 2rem;
	background: #DDD;
	width: 20rem;
	height: 20rem;
}
.top {
	grid-row: 1;
	grid-column: 1 /4;
}
.bottom {
	grid-row: 3;
	grid-column: 1 /4;
}
.main {
	grid-row: 2;
	grid-column: 2;
}

</style>

</head>
<body>

<div class="g">
	<div class="top"></div>
	<div class="bottom"></div>
	<div class="main">
		<h1>Digitizer Fun</h1>
	</div>
</div>

<script>

</script>
</body>
</html>
