<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    {% block meta %}
    <meta name="description" content=".">    <title>Handy Captions</title>  
    <link rel="icon" type="image/png" href="../chfaviconcrop.png">
    {% endblock %}
    


{% block stylesheets %}
{% endblock %}


<style>

</style>
</head>
<body style="overflow:hidden; margin: 0px;">
<div class="container">
	<div id="canvas-svg"></div>
	
	
</div>




<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="../js/map.js"></script>

<script>
var width = 960;
var height = 500;

// D3 Projection
var projection = d3.geoAlbersUsa()
				   .translate([width/2, height/2])    // translate to center of screen
				   .scale([1000]);          // scale things down so see entire US
        
// Define path generator
var path = d3.geoPath().projection(projection);  // tell path generator to use albersUsa projection

var svg = d3.select("#canvas-svg")
			.append("svg")
			.attr("width", width)
			.attr("height", height);

d3.json("/json/us_48.json").then(function(json,error) {
	console.log(error);
	svg.selectAll("path")
		.data(json.features)
		.enter()
		.append("path")
		.attr("d", path)
		.style("stroke", "#fff")
		.style("stroke-width", "1")
		.style("fill", function(d) {

			// Get data value
			var value = d.properties.visited;

			if (value) {
				return color(value);
			} else {
				return "rgb(213,222,217)";
			}
	});
	
	svg.selectAll("circle")
		.data({{ points | dump}}).enter()
		.append("circle")
		.attr("cx", function (d) { if (projection(d)) {return projection(d)[0]} else {return}; })
		.attr("cy", function (d) { if (projection(d)) {return projection(d)[1]} else {return}; })
		.attr("r", function (d) { if (projection(d)) {return d[2]+'px';} else {return}; })
		.attr("fill", "red")
});


var mousePath = [];
svg.on('mousedown', function (event) {
	var xy = d3.pointer(event);
	var ll = projection.invert(xy);
	mousePath = [ll];
})
svg.on('mousemove', function (event) {
	var xy = d3.pointer(event);
	var ll = projection.invert(xy);
	mousePath.push(ll);
})
svg.on('mouseup', function (event) {
	var xy = d3.pointer(event);
	var ll = projection.invert(xy);
	mousePath.push(ll);
	
	curvedPath = createPD(mousePath);
	var newPath = "M";
	newPath += curvedPath[0][0]+" "+curvedPath[0][1];
	for (var i=1;i<curvedPath.length();i++){
		if (i%2 == 1){
			newPath += " Q ";
			newPath += curvedPath[i][0]+" "+curvedPath[i][1];
		}
		else {
			newPath += " ";
			newPath += curvedPath[i][0]+" "+curvedPath[i][1];
		}
	}
	
	//mouseJson = {"type":"LineString","coordinates":mousePath};

	//var pathGen = d3.geoPath().projection(projection);
	//var newPath = pathGen(mouseJson);
	d3.select(this)
		.append("path")
		.attr("id", "segment-0")
		.attr("d", newPath)
		.style("fill", "none")
		.style("stroke-width", "3")
		.style("stroke", "rgb(0,0,0)");
	
	pathToGrid("segment-0");
})

function pathToGrid(pid){
	var el = document.getElementById(pid);
	var len = el.getTotalLength();
	if (len < 1){
		return;
	}
	console.log(len);
	
	var lastDistance = 0;
	var lastPoint = el.getPointAtLength(0);
	var gridPath = [];
	for (var i=0;i<len;i+=0.1){
		var gridPoint = pointToGrid(lastPoint);
		var pt = el.getPointAtLength(Math.min(i+0.1,len));
		nextDistance = Math.pow((pt.x-lastPoint.x),2)+Math.pow((pt.y-lastPoint.y),2);
		gridPoint['d']=(lastDistance+nextDistance)/2;
		
		
		
		lastPoint.x = pt.x;
		lastPoint.y = pt.y;
		lastDistance = nextDistance;
		
		if (i+0.1>=len){
			var pt = el.getPointAtLength(len);
			var gridPoint2 = pointToGrid(pt);
			gridPoint2['d']=(lastDistance)/2+gridPoint['d'];
			gridPath.push(gridPoint2);
			break;
		}
		else {
			gridPath.push(gridPoint);
		}
	}
	console.log(gridPath);
}

function pointToGrid(pt){
	var xy = [pt.x,pt.y];
	var ll = projection.invert(xy);
	var x = Math.round((ll[0] + 179.14708263665557)/0.0249999999 - 6534/3);
	var y = Math.round((ll[1] - 71.38708322329654)/-0.0249999999 - 2643/3);
	return {'x':x,'y':y,'d':0};
}
</script>
</body>
</html>

