<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    {% block meta %}
    <meta name="description" content=".">    <title>Handy Captions</title>  
    <link rel="icon" type="image/png" href="../chfaviconcrop.png">
    {% endblock %}
    


{% block stylesheets %}
{% endblock %}


<style>

</style>
</head>
<body style="overflow:hidden; margin: 0px;">
<div class="container">
	Hello World!
	
	
</div>


<script>
	
</script>
</body>
</html>

