<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    {% block meta %}
    <meta name="description" content=".">    <title>CSS City</title>  
    <link rel="icon" type="image/png" href="../chfaviconcrop.png">
    {% endblock %}
    


{% block stylesheets %}
{% endblock %}


<style>

.input {
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 50%;
	display: inline-block;
	border: 1px solid black;
	touch-action: none;
	
}
.output {
	position: absolute;
	left: 0px;
	top:50%;
	width: 300px;
	height: 300px;
	display: inline-block;
	border: 1px solid red;
	
	/*background-image: url("img/pexels-photo-963278.jpeg");
	background-color: black;
	background-size: 300px 300px;*/
	
}
.o2 {
	position: absolute;
	left: 350px;
	top:0%;
	width: 300px;
	height: 300px;
	display: inline-block;
	border: 1px solid red;
	display: inline-block;
	/*background-blend-mode: hue;*/
	/*background-image: url("img/pexels-photo-963278.jpeg");
	background-color: black;
	background-size: 300px 300px;*/
	
}
.o2 svg {
	/*background-blend-mode: hue;*/
}
.tools {
	position: absolute;
	left: 300px;
	top:50%;
	display: inline-block;
	
}
.pt {
	position: absolute;
	display: inline-block;
	background: black;
	width: 1px;
	height: 1px;
}

#textSVG {
	display: none;
}
#heart, #heartBig {
	position: absolute;
}

</style>
</head>
<body>


<img id="imgBG" src="img/pexels-photo-963278.jpeg" style="display: none;"/>
<div class="input">

</div>

	<canvas class="output" width="300px" height="300px">
		
	</canvas>
<div class="o2" >
	<svg id="textSVG" viewBox="0 0 300 300" width="300" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<defs>
			<linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%">
			  <stop offset="0%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
			  <stop offset="100%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
			</linearGradient>
			<radialGradient id="grad2" cx="50%" cy="50%" r="50%" fx="50%" fy="50%" gradientUnits="userSpaceOnUse">
			  <stop offset="0%" style="stop-color:rgb(0,0,0);stop-opacity:1" />
			  <stop offset="100%" style="stop-color:rgb(0,0,255);stop-opacity:1" />
			</radialGradient>
			<pattern id="img1" patternUnits="userSpaceOnUse" width="100%" height="100%">
				<image href="img/pnggrad16rgb.png" x="0" y="0" width="100%" height="100%" />
			</pattern>
		</defs>
		<g class="hullSVG">
			{% for idx in range(0,1) %}<path class="convexHull-{{ idx }}" fill="rgba(255,0,0,{{ 0.25 }})" {% if idx == 0 %}stroke="none"{% else %}stroke="none"{% endif %} stroke-width="2" d="M5 5 150 5 295 25 295 275 150 295 5 295Z" />
			{% endfor %}
			{% for idx in range(1,10) %}<path class="convexHull-{{ idx }}" fill="rgba(255,0,0,{{ 0.05 - idx*1.0/400.0 }})" {% if idx == 0 %}stroke="none"{% else %}stroke="none"{% endif %} stroke-width="2" d="M5 5 150 5 295 25 295 275 150 295 5 295Z" />
			{% endfor %}
		</g>
		<g class="bgSVG">

		</g>
		<g class="fgSVG">
			
		</g>
	</svg>
	<svg id="heartBig" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 845 785" version="1.0" width="100%" height="100%">

		<path d="M 297.29747,550.86823 C 283.52243,535.43191 249.1268,505.33855 220.86277,483.99412 C 137.11867,420.75228 125.72108,411.5999 91.719238,380.29088 C 29.03471,322.57071 2.413622,264.58086 2.5048478,185.95124 C 2.5493594,147.56739 5.1656152,132.77929 15.914734,110.15398 C 34.151433,71.768267 61.014996,43.244667 95.360052,25.799457 C 119.68545,13.443675 131.6827,7.9542046 172.30448,7.7296236 C 214.79777,7.4947896 223.74311,12.449347 248.73919,26.181459 C 279.1637,42.895777 310.47909,78.617167 316.95242,103.99205 L 320.95052,119.66445 L 330.81015,98.079942 C 386.52632,-23.892986 564.40851,-22.06811 626.31244,101.11153 C 645.95011,140.18758 648.10608,223.6247 630.69256,270.6244 C 607.97729,331.93377 565.31255,378.67493 466.68622,450.30098 C 402.0054,497.27462 328.80148,568.34684 323.70555,578.32901 C 317.79007,589.91654 323.42339,580.14491 297.29747,550.86823 z" style="fill:rgba(255,0,0,.5)"/>

	</svg>
	<svg id="heart" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 845 785" version="1.0" width="100%" height="100%">

		<path d="M 297.29747,550.86823 C 283.52243,535.43191 249.1268,505.33855 220.86277,483.99412 C 137.11867,420.75228 125.72108,411.5999 91.719238,380.29088 C 29.03471,322.57071 2.413622,264.58086 2.5048478,185.95124 C 2.5493594,147.56739 5.1656152,132.77929 15.914734,110.15398 C 34.151433,71.768267 61.014996,43.244667 95.360052,25.799457 C 119.68545,13.443675 131.6827,7.9542046 172.30448,7.7296236 C 214.79777,7.4947896 223.74311,12.449347 248.73919,26.181459 C 279.1637,42.895777 310.47909,78.617167 316.95242,103.99205 L 320.95052,119.66445 L 330.81015,98.079942 C 386.52632,-23.892986 564.40851,-22.06811 626.31244,101.11153 C 645.95011,140.18758 648.10608,223.6247 630.69256,270.6244 C 607.97729,331.93377 565.31255,378.67493 466.68622,450.30098 C 402.0054,497.27462 328.80148,568.34684 323.70555,578.32901 C 317.79007,589.91654 323.42339,580.14491 297.29747,550.86823 z" style="fill:rgba(255,0,0,.5)"/>

	</svg>
</div>
<div class="tools">
	<select>
		<option value="heart">Heart</option>
		<option value="cloud">Cloud</option>
		<option value="cloud">Animal</option>
		<option value="cloud">Star</option>
	</select>
	<input type="radio" >Monochrome</input>
	<input type="radio" >Opacity</input>
	<button onclick="heart();">Heart</button>
	<button onclick="selectGroup();">Group</button>
	<button onclick="downloadImage();">Download</button>
	<a id="downloadLink" download="a.png" href="">Download</a>
</div>
<script>
var canvas = document.querySelector('canvas');
var ctx = canvas.getContext("2d");
var img = document.getElementById("imgBG");
img.onload = function(){ctx.drawImage(img, 0, 0, 300, 300);}

var curveWorker = new Worker('js/curveWorker.js');
var inputEl = document.querySelector('.input');
var outputEl = document.querySelector('.output');
inputEl.addEventListener('pointerdown',inputDown);
inputEl.addEventListener('pointermove',inputMove);
inputEl.addEventListener('pointerup',inputUp);

var currentCurve = [];
var allCurves = {};
var isDown = false;
var isGroup = false;

curveWorker.onmessage = function(evt){
	if (evt.data.type == 'inputCurve'){
		for (var i=0;i<evt.data.points.length;i++){
			drawCurveIn(evt.data.points[i]);
		}
	}
	else if (evt.data.type == 'outputCurve'){
		drawCurveOut(evt.data.id,evt.data.pd,evt.data.startPoint,evt.data.endPoint);
	}
	else if (evt.data.type == 'convexHull'){
		drawConvexHull(evt.data.pdArray);
	}
}

function inputDown(evt) {
	curveWorker.postMessage({'type':'down','x':evt.clientX,'y':evt.clientY});
	isDown = true;
}
function inputMove(evt) {
	if (isDown){
		curveWorker.postMessage({'type':'move','x':evt.clientX,'y':evt.clientY});
	}
}
function inputUp(evt) {
	if (isDown){
		console.log(evt);
		isDown = false;
		
		curveWorker.postMessage({'type':'up','x':evt.clientX,'y':evt.clientY});
	}
}

function drawCurveIn(pt){
	
	var el = document.createElement('div');
	el.classList.add("pt");
	el.style.left = pt[0]+"px";
	el.style.top = pt[1]+"px";
	inputEl.appendChild(el);
}
function drawCurveOut(id,pd,startPoint,endPoint){
	var svg = document.querySelector('.o2 .bgSVG');
	var path0 = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	
	path0.setAttribute('d',pd);
	path0.setAttribute('stroke','rgba(255,255,255,.5)');
	path0.setAttribute('stroke-width','11');
	path0.setAttribute('fill','none');
	path0.id = "bbg-"+id;
	svg.appendChild(path0);
	

	var path = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	
	path.setAttribute('d',pd);
	path.setAttribute('stroke','rgb(255,255,255)');
	path.setAttribute('stroke-width','7');
	path.setAttribute('fill','none');
	path.id = "bg-"+id;
	svg.appendChild(path);
	
	var svg2 = document.querySelector('.o2  .fgSVG');
	var path2 = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	path2.setAttribute('d',pd);
	path2.setAttribute('stroke','rgb(0,0,255)');
	path2.setAttribute('stroke-width','5');
	path2.setAttribute('fill','none');
	path2.id = "fg-"+id;
	svg2.appendChild(path2);
	
	allCurves[id]= currentCurve;
	console.log(allCurves);
}

function drawConvexHull(pdArray) {
	for (var i=0;i<10;i++){
		var el = document.querySelector('.convexHull-'+i);
		el.setAttribute('d',pdArray[i]);
	}
	
	let clonedSvgElement = document.getElementById("textSVG").cloneNode(true);
	var img2 = new Image();
	
	img2.onload = function() {
		ctx.drawImage(img, 0, 0, 300, 300);
		ctx.drawImage(img2, 0, 0,300,300);
		
	}
	img2.src = "data:image/svg+xml;base64," + window.btoa(clonedSvgElement.outerHTML);
	
	

	

}
function heart() {
	var el = document.getElementById('heartBig');
	var newPath = outline();
	el.querySelector('path').setAttribute('d',newPath);
	el.style.display = "inline-block";
	document.getElementById('heart').style.display = "inline-block";
	let clonedSvgElementB = document.getElementById("heartBig").cloneNode(true);
	var imgB = new Image();
	let clonedSvgElement = document.getElementById("heart").cloneNode(true);
	var img2 = new Image();
	
	imgB.onload = function() {
		ctx.drawImage(img, 0, 0, 300, 300);
		ctx.drawImage(imgB, 0, 0,300,300);
		img2.onload = function() {
			ctx.drawImage(img2, 0, 0,300,300);
		
		}
		
	}
	imgB.src = "data:image/svg+xml;base64," + window.btoa(clonedSvgElementB.outerHTML);
	img2.src = "data:image/svg+xml;base64," + window.btoa(clonedSvgElement.outerHTML);
	
	outline();
}


function parsePath(pd) {
	var pdSplit = pd.toUpperCase().split(/[\s,]+/);
	var points = [];
	var currentMove = 'M';
	var currentPoint = [];
	for (var i=0;i<pdSplit.length;i++){
		if (pdSplit[i] == 'M' || pdSplit[i] == 'C' || pdSplit[i] == 'Q' || pdSplit[i] == 'L' || pdSplit[i] == 'H' || pdSplit[i] == 'V' || pdSplit[i] == 'Z'){
			currentMove = pdSplit[i];
		}
		else if (currentPoint.length == 0) {
			currentPoint.push(parseFloat(pdSplit[i]));
			if (currentMove == 'H' || currentMove == 'V') {
				if (currentMove == 'H'){
					points.push({'H':[currentPoint[0]]});
				}
				else if (currentMove == 'V'){
					points.push({'V':[currentPoint[0]]});
				}
				currentPoint = [];
				currentMove == 'L';
			}
		}
		else if (currentMove == 'M' || currentMove == 'L') {
			currentPoint.push(parseFloat(pdSplit[i]));
			if (currentMove == 'M'){
					points.push({'M':currentPoint});
				}
				else if (currentMove == 'L'){
					points.push({'L':currentPoint});
				}
			currentPoint = [];
			currentMove == 'L';
		}
		else if (currentMove == 'Q') {
			currentPoint.push(parseFloat(pdSplit[i]));
			if (currentPoint.length>=4){
				points.push({'Q':currentPoint});
				currentPoint = [];
				currentMove == 'L';
			}
		}
		else if (currentMove == 'C') {
			currentPoint.push(parseFloat(pdSplit[i]));
			if (currentPoint.length>=6){
				points.push({'C':currentPoint});
				currentPoint = [];
				currentMove == 'L';
			}
		}
	}
	console.log(points);
	return points;
}
function toPath(points){
	var pd = "";
	for (var i=0;i<points.length;i++){
		var key = Object.keys(points[i])[0];
		pd += ' '+key;
		for (var ii=0;ii<points[i][key].length;ii++){
			pd += ' '+points[i][key][ii];
		}
	}
	return pd;
}

function outline(){
	var pd = "M 297.29747,550.86823 C 283.52243,535.43191 249.1268,505.33855 220.86277,483.99412 C 137.11867,420.75228 125.72108,411.5999 91.719238,380.29088 C 29.03471,322.57071 2.413622,264.58086 2.5048478,185.95124 C 2.5493594,147.56739 5.1656152,132.77929 15.914734,110.15398 C 34.151433,71.768267 61.014996,43.244667 95.360052,25.799457 C 119.68545,13.443675 131.6827,7.9542046 172.30448,7.7296236 C 214.79777,7.4947896 223.74311,12.449347 248.73919,26.181459 C 279.1637,42.895777 310.47909,78.617167 316.95242,103.99205 L 320.95052,119.66445 L 330.81015,98.079942 C 386.52632,-23.892986 564.40851,-22.06811 626.31244,101.11153 C 645.95011,140.18758 648.10608,223.6247 630.69256,270.6244 C 607.97729,331.93377 565.31255,378.67493 466.68622,450.30098 C 402.0054,497.27462 328.80148,568.34684 323.70555,578.32901 C 317.79007,589.91654 323.42339,580.14491 297.29747,550.86823 z";
	var points = parsePath(pd);
	console.log(points);
	var margin = 40;
	var newPoints = [];
	var oldPoints = [];
	var avgPoints = [];
	var ll = {'M':[323.70555,578.32901]};
	//ll['M']=points[points.length-1][Object.keys(points[points.length-1])[0]];
	var ff = {'M':[283.52243,535.43191]};
	//ff['M']=points[0][Object.keys(points[0])[0]];
	points.splice(0,0,ll);
	points.push(ff);
	
	for (var i=1;i<points.length-1;i++){
		var aPoint = {};
		var cPoint = {};
		var key = Object.keys(points[i])[0];
		aPoint[key]=[];
		var myPoint = points[i][key];
		var last = points[i-1];
		var lastKey = Object.keys(last)[0];
		var next = points[i+1];
		var nextKey = Object.keys(next)[0];
		if (key == 'H' ){
			
			continue;
		}
		else if (key == 'V'){
			
			continue;
		}
		if (lastKey == 'H' ){
			
			continue;
		}
		else if (lastKey == 'V'){
			
			continue;
		}
		if (nextKey == 'H' ){
			
			continue;
		}
		else if (nextKey == 'V'){
			
			continue;
		}
		var lastPoint = [last[lastKey][last[lastKey].length - 2],last[lastKey][last[lastKey].length - 1]];
		
		cPoint[key]=[];
		for (var ii=0;ii<myPoint.length/2;ii++){
			var d = Math.pow( Math.pow((myPoint[2*ii+1]-lastPoint[1]),2) + Math.pow((myPoint[2*ii]-lastPoint[0]),2) ,.5);
			var dy = margin*(myPoint[2*ii+1]-lastPoint[1])/d;
			var dx = margin*(myPoint[2*ii]-lastPoint[0])/d;

			if (dx >= 0 && dy >= 0){
				cPoint[key].push(myPoint[2*ii]+dy);
				cPoint[key].push(myPoint[2*ii+1]-dx);
			}
			else if (dx >= 0 && dy < 0){
				cPoint[key].push(myPoint[2*ii]+dy);
				cPoint[key].push(myPoint[2*ii+1]-dx);
			}
			else if (dx < 0 && dy < 0){
				cPoint[key].push(myPoint[2*ii]+dy);
				cPoint[key].push(myPoint[2*ii+1]-dx);
			}
			else if (dx < 0 && dy >= 0){
				cPoint[key].push(myPoint[2*ii]+dy);
				cPoint[key].push(myPoint[2*ii+1]-dx);
			}
			lastPoint = [myPoint[2*ii],myPoint[2*ii+1]];
			
		}
		
		lastPoint = [myPoint[0],myPoint[1]];
		var bPoint = {};
		bPoint[key]=[];
		for (var ii=1;ii<myPoint.length/2+1;ii++){
			var d; var dx; var dy;
			if (ii>=myPoint.length/2){
				var nextPoint = [next[nextKey][0],next[nextKey][1]];
				d = Math.pow( Math.pow((nextPoint[1]-lastPoint[1]),2) + Math.pow((nextPoint[0]-lastPoint[0]),2) ,.5);
				dy = margin*(nextPoint[1]-lastPoint[1])/d;
				dx = margin*(nextPoint[0]-lastPoint[0])/d;
			}
			else {
				d = Math.pow( Math.pow((myPoint[2*ii+1]-lastPoint[1]),2) + Math.pow((myPoint[2*ii]-lastPoint[0]),2) ,.5);
				dy = margin*(myPoint[2*ii+1]-lastPoint[1])/d;
				dx = margin*(myPoint[2*ii]-lastPoint[0])/d;
			}
			if (dx >= 0 && dy >= 0){
				bPoint[key].push(myPoint[2*ii-2]+dy);
				bPoint[key].push(myPoint[2*ii-1]-dx);
			}
			else if (dx >= 0 && dy < 0){
				bPoint[key].push(myPoint[2*ii-2]+dy);
				bPoint[key].push(myPoint[2*ii-1]-dx);
			}
			else if (dx < 0 && dy < 0){
				bPoint[key].push(myPoint[2*ii-2]+dy);
				bPoint[key].push(myPoint[2*ii-1]-dx);
			}
			else if (dx < 0 && dy >= 0){
				bPoint[key].push(myPoint[2*ii-2]+dy);
				bPoint[key].push(myPoint[2*ii-1]-dx);
			}
			lastPoint = [myPoint[2*ii],myPoint[2*ii+1]];
			
		}
		
		newPoints.push(cPoint);
		oldPoints.push(bPoint);
		for (var ii=0;ii<cPoint[key].length;ii++){
			aPoint[key].push(cPoint[key][ii]*.5+bPoint[key][ii]*.5);
		}
		avgPoints.push(aPoint);
	}
	console.log(avgPoints);
	var newPd = toPath(avgPoints);
	return newPd;
}


function selectGroup(){
	isGroup = true;
}

function groupDown() {

}
function groupMove() {

}
function groupUp() {
	isGroup = false;
}
function downloadImage() {
	var url = canvas.toDataURL();
	canvas.toBlob(function(blob) {
	  var burl = URL.createObjectURL(blob);
	  console.log(burl);

	});
	document.getElementById('downloadLink').href = url;
	//console.log(url);
}
</script>
</body>
</html>

