<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    {% block meta %}
    <meta name="description" content=".">    <title>CSS City</title>  
    <link rel="icon" type="image/png" href="../chfaviconcrop.png">
    {% endblock %}
    


{% block stylesheets %}
{% endblock %}


<style>

.input {
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 50%;
	display: inline-block;
	border: 1px solid black;
	touch-action: none;
	
}
.output {
	position: absolute;
	left: 0px;
	top:50%;
	width: 300px;
	height: 300px;
	display: inline-block;
	border: 1px solid red;
	/*background-image: url("img/pexels-photo-963278.jpeg");
	background-color: black;
	background-size: 300px 300px;*/
	
}
.o2 {
	position: absolute;
	left: 300px;
	top:0%;
	width: 300px;
	height: 300px;
	display: inline-block;
	border: 1px solid red;
	background: gray;
	/*display: none;*/
	/*background-image: url("img/pexels-photo-963278.jpeg");
	background-color: black;
	background-size: 300px 300px;*/
	
}
.tools {
	position: absolute;
	left: 300px;
	top:50%;
	display: inline-block;
	
}
.pt {
	position: absolute;
	display: inline-block;
	background: black;
	width: 1px;
	height: 1px;
}



</style>
</head>
<body>
<img id="imgBG" src="img/pexels-photo-963278.jpeg" style="display: none;"/>
<div class="input">

</div>

	<canvas class="output" width="300px" height="300px">
		
	</canvas>
<div class="o2" >
	<svg id="textSVG" viewBox="0 0 300 300" width="300" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<defs>
			<linearGradient id="grad1" x1="50%" y1="0%" x2="50%" y2="100%" gradientUnits="userSpaceOnUse">
			  <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1" />
			  <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1" />
			  <stop offset="100%" style="stop-color:rgb(50,50,255);stop-opacity:1" />
			</linearGradient>
			<radialGradient id="grad2" cx="50%" cy="50%" r="50%" fx="50%" fy="50%" gradientUnits="userSpaceOnUse">
			  <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1" />
			  <stop offset="100%" style="stop-color:rgb(0,0,255);stop-opacity:1" />
			</radialGradient>
			<pattern id="img1" patternUnits="userSpaceOnUse" width="100%" height="100%">
				<image href="img/pnggrad16rgb.png" x="0" y="0" width="100%" height="100%" />
			</pattern>
		</defs>
		
		<g class="bgSVG">

		</g>
		<g class="fgSVG">
			
		</g>
	</svg>
</div>
<div class="tools">
	<select>
		<option value="image">Image BG</option>
		<option value="neon">Neon</option>
		<option value="gradient">Gradient</option>
		<option value="isometric">Isometric</option>
		<option value="3d">3D</option>
		<option value="emboss">Emboss</option>
		<option value="pixel">Cross-stitch</option>
	</select>
	<button onclick="selectGroup();">Group</button>
	<button onclick="downloadImage();">Download</button>
	<a id="downloadLink" download="a.png" href="">Download</a>
</div>

<script src="js/outlines.js">
</script>
<script>
var canvas = document.querySelector('canvas');
var ctx = canvas.getContext("2d");
var img = document.getElementById("imgBG");
img.onload = function(){ctx.drawImage(img, 0, 0, 300, 300);}

var curveWorker = new Worker('js/curveWorker.js');
var inputEl = document.querySelector('.input');
var outputEl = document.querySelector('.output');
inputEl.addEventListener('pointerdown',inputDown);
inputEl.addEventListener('pointermove',inputMove);
inputEl.addEventListener('pointerup',inputUp);

var currentCurve = [];
var allCurves = {};
var isDown = false;
var isGroup = false;

curveWorker.onmessage = function(evt){
	if (evt.data.type == 'inputCurve'){
		for (var i=0;i<evt.data.points.length;i++){
			drawCurveIn(evt.data.points[i]);
		}
	}
	else if (evt.data.type == 'outputCurve'){
		drawCurveOut(evt.data.id,evt.data.pd,evt.data.startPoint,evt.data.endPoint);
	}
	else if (evt.data.type == 'convexHull'){
		//drawConvexHull(evt.data.pdArray);
	}
}

function inputDown(evt) {
	curveWorker.postMessage({'type':'down','x':evt.clientX,'y':evt.clientY});
	isDown = true;
}
function inputMove(evt) {
	if (isDown){
		curveWorker.postMessage({'type':'move','x':evt.clientX,'y':evt.clientY});
	}
}
function inputUp(evt) {
	if (isDown){
		console.log(evt);
		isDown = false;
		
		curveWorker.postMessage({'type':'up','x':evt.clientX,'y':evt.clientY});
	}
}

function drawCurveIn(pt){
	
	var el = document.createElement('div');
	el.classList.add("pt");
	el.style.left = pt[0]+"px";
	el.style.top = pt[1]+"px";
	inputEl.appendChild(el);
}
var textStyle = 'neon';
var textBG = 'gradient';
textBG = 'white';
var textOptions = {'skewAngle':'-15','depth':32};
var heartFill = document.querySelector('.o2 .bgSVG');
function drawCurveOut(id,pd,startPoint,endPoint){
	var svg = document.querySelector('.o2 .bgSVG');
	
	if (textStyle == '3D'){
		for (var i=0;i<8;i++){
			var path = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	
			path.setAttribute('d',pd);
			path.setAttribute('stroke','rgba(0,0,0,'+(1.0-i*0.1)+')');
			path.setAttribute('stroke-width','5');
			path.setAttribute('fill','none');
			path.id = "bg-"+id+"-"+i;
			path.setAttribute('transform','translate(0 '+(8-i*1)+')');
			svg.appendChild(path);
		}
	}
	else if (textStyle == 'emboss'){
		for (var i=0;i<6;i++){
			var path = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	
			path.setAttribute('d',pd);
			
			path.setAttribute('stroke-width','5');
			path.setAttribute('fill','none');
			path.id = "bg-"+id+"-"+i;
			if (i < 3){
				path.setAttribute('stroke','rgba(255,255,255,'+(0.33+i/3)+')');
				path.setAttribute('transform','translate(0 -'+(3-i)+')');
			}
			else{
				path.setAttribute('stroke','rgba(0,0,0,'+(-0.66+i/3)+')');
				path.setAttribute('transform','translate(0 '+(6-i)+')');
			}
			svg.appendChild(path);
		}
	}
	else if (textStyle == 'isometric'){
		svg.style.transform = "skew(0deg, "+textOptions.skewAngle+"deg)";
		for (var i=0;i<textOptions.depth;i++){
			var path = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	
			path.setAttribute('d',pd);
			path.setAttribute('stroke','rgba(0,0,0,'+(0.0+i*1.0/textOptions.depth)+')');
			path.setAttribute('stroke-width','5');
			path.setAttribute('fill','none');
			path.id = "bg-"+id+"-"+i;
			path.setAttribute('transform','translate(-'+(textOptions.depth-i*1)+' -'+(textOptions.depth-i*1)+')');
			svg.appendChild(path);
		}
	}
	else if (textStyle == 'neon'){
		
		//outline(pd,25,'out');
		//outline(pd,25,'in');
		for (var i=1;i<11;i++){
			var filter = document.createElementNS("http://www.w3.org/2000/svg", 'filter');
			filter.id = 'blur-'+(i*2);
			var filterBlur = document.createElementNS("http://www.w3.org/2000/svg", 'feGaussianBlur');
			filterBlur.setAttribute('in','SourceGraphic');
			filterBlur.setAttribute('stdDeviation',''+(i*2));
			filterBlur.setAttribute('edgeMode','duplicate');
			filter.appendChild(filterBlur);
			svg.appendChild(filter);
		}
		var g = document.createElementNS("http://www.w3.org/2000/svg", 'g');
		var rect = document.createElementNS("http://www.w3.org/2000/svg", 'rect');
	
		rect.setAttribute('x','0');
		rect.setAttribute('y','0');
		rect.setAttribute('width','100%');
		rect.setAttribute('height','100%');
		rect.setAttribute('fill','rgba(0,0,0,0)');
		g.appendChild(rect);
		for (var i=0;i<10;i++){
			var path = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	
			path.setAttribute('d',pd);
			path.setAttribute('stroke','rgba(255,0,0,'+(0.1)+')');
			path.setAttribute('stroke-width',''+(50-5*i));
			path.setAttribute('fill','none');
			path.id = "bg-"+id+"-"+i;
			path.setAttribute('filter','url(#blur-'+(2+2*i)+')');
			g.appendChild(path);
		}
		//g.setAttribute('filter','url(#blur)');
		svg.appendChild(g);
		
		/*var path = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	
		path.setAttribute('d',pd);
		path.setAttribute('stroke','rgba(255,0,0,0)');
		path.setAttribute('stroke-width',''+(60-6*0));
		path.setAttribute('fill','none');
		path.id = "bg-"+id+"-"+i;
		svg.appendChild(path);*/
	}

	
	
	var svg2 = document.querySelector('.o2  .fgSVG');
	if (textStyle == 'isometric'){
		svg2.style.transform = "skew(0deg, "+textOptions.skewAngle+"deg)";
	}
	var path2 = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	path2.setAttribute('d',pd);
	if (textBG == 'gradient'){
		path2.setAttribute('stroke','url(#img1)');
	}
	else {
		path2.setAttribute('stroke','white');
	}
	
	path2.setAttribute('stroke-width','5');
	path2.setAttribute('fill','none');
	path2.id = "fg-"+id;
	svg2.appendChild(path2);
	
	allCurves[id]= currentCurve;
	console.log(allCurves);
}


function selectGroup(){
	isGroup = true;
}

function groupDown() {

}
function groupMove() {

}
function groupUp() {
	isGroup = false;
}
function downloadImage() {
	var url = canvas.toDataURL();
	document.getElementById('downloadLink').href = url;
	console.log(url);
}
</script>
</body>
</html>

